<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCfZUVwlsc13z3wwmSKSRFI6AKz0fVzI4</string>
	<key>GCM_SENDER_ID</key>
	<string>215816287753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.forgeapp.RoutineForge</string>
	<key>PROJECT_ID</key>
	<string>forgeflowpro</string>
	<key>STORAGE_BUCKET</key>
	<string>forgeflowpro.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215816287753:ios:25017e6341a38f3f41ead8</string>
</dict>
</plist>